---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['C++', 'Python', 'JavaScript', 'Shell']
const backend = ['ROS2', 'Arduino', 'Robotics', 'Control Systems']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Indonesia'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='GitHub'
            as='a'
            href='https://github.com/Lexciese'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
            title='LinkedIn'
            as='a'
            href='https://www.linkedin.com/in/falahnzk/'
            target='_blank'
          >
            <Icon name='instagram' class='size-5' slot='icon' />
          </Label>
                    <Label
            title='Instagram'
            as='a'
            href='https://www.instagram.com/ikaz_zk/'
            target='_blank'
          >
            <Icon name='instagram' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>
          I am passionate about Software Engineering, Robotics, and Control Systems and am actively learning about these fields. Currently focused on humanoid robotics motion programming and development using ROS2 and C++.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      <Section title='Experience'>
        <Card
          heading='Humanoid Motion Programmer'
          subheading='Altair Gadjah Mada Robotic Team'
          date='Current'
          altText='Altair Robotics Team'
          imageClass='h-12 w-auto md:-start-16'
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Developing motion control systems for humanoid robots
            </li>
            <li>
              Working with ROS2 frameworks and C++ for robot programming
            </li>
            <li>
              Implementing kinematics and control algorithms for robot movement
            </li>
          </ul>
        </Card>
      </Section>
      
      <Section title='Education'>
        <Card
          as='a'
          heading='Electronics and Instrumentation'
          subheading='Universitas Gadjah Mada'
          date='Current'
          href='https://ugm.ac.id'
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Focusing on robotics systems and instrumentation
            </li>
            <li>
              Studying control systems, embedded programming, and electronics design
            </li>
          </ul>
        </Card>
      </Section>

      <Section title='Projects'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://github.com/Lexciese/alfarobi_ws-altair-docker'
            heading='Alfarobi Workspace Docker'
            subheading='Docker environment for humanoid robot development'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more of my robotics and software projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Engineering' skills={backend} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
